# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage

# Production
dist/
build/

# Misc
.DS_Store
*.pem

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
env/
venv/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Editors
.vscode/
.idea/
